* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6e6b6b5b;
}

.container {
    background-color: #332a2a60;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 750px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    color: #310404;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;
}

label {
    color: #310404;
    font-size: 1.2em;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.7em;
}

button {
    padding: 10px;
    background-color: #310404;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #5a0404;
    transition: background-color 0.3s ease;
}